test1/bash-test.sh
test1/bash.supp
test1/builtins
test1/dollars
test1/extras
test1/local.supp
test1/loop.out
test1/minishell.h
test1/os_specific
test1/out
test1/outfile
test1/pipes
test1/quotes
test1/README.md
test1/redirects
test1/syntax
test1/tester
test1/manual_tests/heredoc
test1/manual_tests/mandatory
test1/manual_tests/not_mandatory
test1/manual_tests/signals
test1/test_files/empty
test1/test_files/file name with spaces
test1/test_files/infile
test1/test_files/infile_big
test1/test_files/invalid_permission
test1/test_files/loop
test1/test_files/loop.c
test2/LICENSE
test2/README.md
test2/requirements.txt
test2/src/__main__.py
test2/src/lab.py
test2/src/printer.py
test2/src/process.py
test2/src/tester.py
test2/src/tests.py
test2/src/utils.py
test2/src/__pycache__/lab.cpython-310.pyc
test2/src/__pycache__/printer.cpython-310.pyc
test2/src/__pycache__/process.cpython-310.pyc
test2/src/__pycache__/tester.cpython-310.pyc
test2/src/__pycache__/tests.cpython-310.pyc
test2/src/__pycache__/utils.cpython-310.pyc
test3/.vsupp
test3/README.md
test3/manual_tests/heredoc
test3/manual_tests/mandatory
test3/manual_tests/not_mandatory
test3/manual_tests/signals
test3/src/>>
test3/src/bash-test2.sh
test3/src/bash.supp
test3/src/bonus
test3/src/builtins
test3/src/builtins_bonus
test3/src/command
test3/src/local.supp
test3/src/loop.out
test3/src/not_required
test3/src/pipes
test3/src/quotes
test3/src/redirects
test3/src/redirects_bonus
test3/src/syntax
test3/src/syntax_bonus
test3/src/tester
test3/src/var
test3/src/var_bonus
test3/src/vtester
test3/src/wildcards
test3/src/test_files/empty
test3/src/test_files/file name with spaces
test3/src/test_files/infile
test3/src/test_files/infile_big
test3/src/test_files/invalid_permission
test3/src/test_files/loop
test3/src/test_files/loop.c
test1/'
test1/"
minishell
libft/libft.a
libft/check_char/ft_isalnum.o
libft/check_char/ft_isalpha.o
libft/check_char/ft_isascii.o
libft/check_char/ft_isdigit.o
libft/check_char/ft_isprint.o
libft/check_char/ft_isspace.o
libft/ft_printf/ft_printf.o
libft/ft_printf/ft_putchar.o
libft/ft_printf/ft_putnbr_base_len_origin.o
libft/ft_printf/ft_putnbr_base_len.o
libft/ft_printf/ft_putstr_len.o
libft/link_list/ft_free_lst.o
libft/link_list/ft_lstadd_back.o
libft/link_list/ft_lstadd_front.o
libft/link_list/ft_lstclear.o
libft/link_list/ft_lstdelone.o
libft/link_list/ft_lstiter.o
libft/link_list/ft_lstlast.o
libft/link_list/ft_lstmap.o
libft/link_list/ft_lstnew.o
libft/link_list/ft_lstsize.o
libft/management_memory/ft_bzero.o
libft/management_memory/ft_calloc.o
libft/management_memory/ft_realloc.o
libft/string/ft_atoi_base.o
libft/string/ft_atoi_endptr.o
libft/string/ft_atoi.o
libft/string/ft_atol.o
libft/string/ft_copy_tab.o
libft/string/ft_free_tab.o
libft/string/ft_itoa.o
libft/string/ft_memchr.o
libft/string/ft_memcmp.o
libft/string/ft_memcpy.o
libft/string/ft_memmove.o
libft/string/ft_memset.o
libft/string/ft_putchar_fd.o
libft/string/ft_putendl_fd.o
libft/string/ft_putnbr_fd.o
libft/string/ft_putstr_fd.o
libft/string/ft_sort_int_tab.o
libft/string/ft_sort_string_tab.o
libft/string/ft_split.o
libft/string/ft_strcat.o
libft/string/ft_strchr.o
libft/string/ft_strcmp.o
libft/string/ft_strcpy_map.o
libft/string/ft_strcpy.o
libft/string/ft_strdup.o
libft/string/ft_striteri.o
libft/string/ft_strjoin.o
libft/string/ft_strjoinfree.o
libft/string/ft_strlcat.o
libft/string/ft_strlcpy.o
libft/string/ft_strlen_map.o
libft/string/ft_strlen.o
libft/string/ft_strmapi.o
libft/string/ft_strncmp.o
libft/string/ft_strncpy.o
libft/string/ft_strndup.o
libft/string/ft_strnstr.o
libft/string/ft_strrchr.o
libft/string/ft_strstr.o
libft/string/ft_strtrim.o
libft/string/ft_substr.o
libft/string/ft_tab_len.o
libft/string/ft_tolower.o
libft/string/ft_toupper.o
del.supp
